#map {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.no-gutter{
  padding-left: 0;
  padding-right: 0;
}