/*Background color: White
Text color: #5F6670
Accents:
#F34213 Couquelicot
Shades of red, yellow and orange psycholligically make you hungery

#1ACD14 Lime green
Green conveys fresh and clean

#2D7DD2 Bright Navy Blue
Can be a supressive color only use for accents of something*/

.no-gutter{
  padding-left: 0;
  padding-right: 0;
}

.no-margin{
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

#map {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map-container{
  height: 80vh;
}

#header{
    height: 10vh;
    justify-content: center;
    font-size: 5vh;
    font-family: 'Amatic SC';
    background-color: #F34213;
  }

#footer{
  background-color: #F34213;
  height: 10vh;
  margin: 0;
  padding: 0;
}

  .btn {
    box-sizing: border-box;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 0.6em;
    color: white;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }
  .btn:hover, .btn:focus {
    color:#F34213;
    outline: 0;
  }
  
  .first {
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  }
  .first:hover {
    box-shadow: 0 0 40px 40px white inset;
  }

  .btn2 {
    box-sizing: border-box;
    background-color: transparent;
    border: 2px solid #F34213;
    border-radius: 0.6em;
    color: #F34213;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }
  .btn2:hover, .btn:focus {
    color:white;
    outline: 0;
  }

  .second {
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  }
  .second:hover {
    box-shadow: 0 0 40px 40px #F34213 inset;
  }

.no-gutter{
  padding-left: 0;
  padding-right: 0;
@import url('https://fonts.googleapis.com/css?family=Amatic+SC')
#inputs{
  background-color: rgb(48, 223, 48);
}