 /*Background color: White
Text color: #5F6670
Accents:
#F34213 Couquelicot
Shades of red, yellow and orange psycholligically make you hungery

#1ACD14 Lime green
Green conveys fresh and clean

#2D7DD2 Bright Navy Blue
Can be a supressive color only use for accents of something*/
 
 input{ 
    background-color: #F34213;
    color: white;
    margin-top: 5%;
      padding:15px; 
      border-radius: 10px; 
      text-align: center;
      font-family: AMATIC SC;
      font-size: 40px;
    } 
    
    input[type=text] { 
       width: 100%; 
       margin-left: 50%;
       margin-top: 30px;
       transition: width 0.30s ease-in-out;
       transform: translate(-50%, -50%)
    } 
     
    /* When the input field gets focus, 
         change its width to 100% */
    input[type=text]:focus { 
      width: 250%; 
    } 

    ::placeholder{
      color: white;
    }


    .btn {
      box-sizing: border-box;
      background-color: transparent;
      border: 2px solid white;
      border-radius: 0.6em;
      color: white;
      cursor: pointer;
      /* display: flex; */
      font-size: 1rem;
      line-height: 1;
      margin: 20px;
      padding: 1.2em;
      text-align: center !important; 
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      width: 40vw;
    }
    .btn:hover, .btn:focus {
      color:#F34213;
      outline: 0;
    }
    
    .first {
      transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    }
    .first:hover {
      box-shadow: 0 0 40px 40px white inset;
    }

    .btn2, #submitButton {
      box-sizing: border-box;
      background-color: transparent;
      border: 2px solid #F34213;
      border-radius: 0.6em;
      color: #F34213;
      cursor: pointer;
      display: flex;
      font-size: 1rem;
      line-height: 1;
      margin: 20px; 
      padding: .6em 2.8em;
      text-align: center;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
    }
    .btn2:hover, .btn:focus, #submitButton:hover {
      color:white;
      outline: 0;
    }

    .second, #submitButton {
      transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    }
    .second:hover, #submitButton:hover {
      box-shadow: 0 0 40px 40px #F34213 inset;
    }

    li{
      font-family: 'Abel', sans-serif;
      background-color: #fff;
      font-size:1.2rem;
      height: 45px;
      line-height: 45px;
      color:#666
  }

    .trash{
      background-color:#e74c3c;
      height:45px;
      margin-right:20px;
      width:0;
      text-align: center;
      color:white;
      display: inline-block;
      transition: 0.3s linear;
      opacity:0;
  }

  li:hover .trash {
    width:45px;
    opacity:1;
}