/*Background color: White
Text color: #5F6670
Accents:
#F34213 Couquelicot
Shades of red, yellow and orange psycholligically make you hungery

#1ACD14 Lime green
Green conveys fresh and clean

#2D7DD2 Bright Navy Blue
Can be a supressive color only use for accents of something*/

body {
  margin: 0px;
  background-color: #FFFFFF;
}

.header{
  height: 40vh;
}

.headerImage {
  height: 100%;
  max-width: 100%;
}
/* .no-gutter{
  padding-left: 0;
  padding-right: 0;
@import url('https://fonts.googleapis.com/css?family=Amatic+SC')
#inputs{
  background-color: rgb(48, 223, 48);
} */

#whipIt{
  background-color: rgb(155, 36, 105);
  color: white;

}

/* .header{
  display: flex;
  justify-content: center;
  height: 35vh;
}

.footer{
  background-color: gray;
  height: 10vh;
} */

#test{
  color: white;
}


.social-links{
  color: white;
}

/* Responsive Design */
@media phone and (min-width: ){

}

.responsive-img{
  width: 100%;
  height: auto;
}

/* .header-img{
  height: 100%;
  width: auto;
} */

.reset{
  font-size: 100%;
}

.main-content{
  height: 55vh;
}

/* Image Styling */
