/* Color Palette */
/* Red: #F34213 */
/*White: #FFFFFF*/
/*Blue: #2D7DD2*/
/*Green: #1ACD14*/
/*Gray: #5F6670*/

.no-gutter{
  padding-left: 0;
  padding-right: 0;
}

.header{
  display: flex;
  justify-content: center;
  height: 35vh;
}

.footer{
  background-color: gray;
  height: 10vh;
}

#test{
  color: white;
}


.social-links{
  color: white;
}

/* Responsive Design */
@media phone and (min-width: ){

}

.responsive-img{
  width: 100%;
  height: auto;
}

.header-img{
  height: 100%;
  width: auto;
}

.reset{
  font-size: 100%;
}

.main-content{
  height: 55vh;
}

/* Image Styling */
