/* Color Palette */
/* Red: #F34213 */
/*White: #FFFFFF*/
/*Blue: #2D7DD2*/
/*Green: #1ACD14*/
/*Gray: #5F6670*/

body {
    margin: 0px;
    background-color: #FFFFFF;
}

.header{
    height: 40vh;
}

.column {
    height: 25vh;
    background: #FFFFFF;
}



.buttonBox {
    height: 6vh;
    width: 100%;
    
}



.headerImage {
    height: 100%;
    max-width: 100%;
}

.foodImage {
    height: 100%;
    width: 100%;
}

.font {
    font-family: "Amatic SC";
}

.boxFont {
    color: #5F6670;
    font-size: x-large;
    font-weight: bolder;
}
