/* Background color: White
Text color: #5F6670
Accents:
#F34213 Couquelicot
Shades of red, yellow and orange psycholligically make you hungery

#1ACD14 Lime green
Green conveys fresh and clean

#2D7DD2 Bright Navy Blue
Can be a supressive color only use for accents of something*/

.navBG{
    background: #F34213;
}

.iconColor {
    color: #FFFFFF;
}

.navFontSize {
    font-size: x-large;
}