/* Background color: White
Text color: #5F6670
Accents:
#F34213 Couquelicot
Shades of red, yellow and orange psycholligically make you hungery

#1ACD14 Lime green
Green conveys fresh and clean

#2D7DD2 Bright Navy Blue
Can be a supressive color only use for accents of something*/

body {
    margin: 0px;
    background-color: #FFFFFF;
}

.header{
    height: 40vh;
}

.column {
    height: 25vh;
    background: #FFFFFF;
}


.buttonBox {
    height: 15vh;
    width: 100%;
    
}

.headerImage {
    height: 100%;
    max-width: 100%;
}

.foodImage {
    height: 100%;
    width: 100%;
}

.font {
    font-family: "Amatic SC";
}

.boxFont {
    color: #5F6670;
    font-size: x-large;
    font-weight: bolder;
}

.nutritionFont {
    color: #F34213;
    font-size: x-large;
    font-weight: bolder;
}

.modal-recipe{
    text-align: center;
}

a {
    color: #F34213;
}

a:hover {
    color: #FFFFFF;
    text-decoration: none;
}