Background color: White
Text color: #5F6670
Accents:
#F34213 Couquelicot
Shades of red, yellow and orange psycholligically make you hungery

#1ACD14 Lime green
Green conveys fresh and clean

#2D7DD2 Bright Navy Blue
Can be a supressive color only use for accents of something



#header{
    height: 10vh;
  }


body{
    background-color: white;
    color: black;
}




    #footer{
        background-color: #F34213;
        height: 10vh;
      }
